
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <h3 class="alert alert-success">Yeni Kategori Ekleme Alanı</h3>
    <label>Kategori Adı</label>
    <input class="form-control" type="text" />
    <br />
    <label>Kategori Açıklaması</label>
    <input class="form-control" type="text" />
    <br />
    <label>Kategori Değeri</label>
    <input class="form-control" type="text" />
    <br />
    <button class="btn btn-primary">Kategori Oluştur</button>
</div>